<div class="todo-header-row">
  <h2 class="section-title">Add Todo</h2>
<button
  type="button"
  class="link-button"
  (click)="goBackToList()"
>
  ← Back to list
</button>

</div>

<form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
  <label>Title *</label>
  <input
    formControlName="title"
    class="form-input"
    placeholder="What needs to be done?"
  />

  <!-- helper text -->
  <small class="helper">
    Give your task a clear, action‑oriented name.
  </small>

  <!-- validation message -->
  <small
    class="error"
    *ngIf="todoForm.get('title')?.invalid && todoForm.get('title')?.touched"
  >
    Title is required and must contain at least 3 characters with letters.
  </small>
</div>


  <div class="form-group">
  <label>Description</label>
  <textarea
    formControlName="description"
    class="form-textarea"
    placeholder="Add more details…"
  ></textarea>

  <small class="helper">
    Describe the task so you know exactly what to do later.
  </small>

  <small
    class="error"
    *ngIf="
      todoForm.get('description')?.invalid &&
      todoForm.get('description')?.touched
    "
  >
    Description is required.
  </small>
</div>


  <div class="btn-row">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="todoForm.invalid"
      
    >
      Save
    </button>

    <button
  type="button"
  class="btn btn-secondary"
  (click)="goBackToList()"
>
  Cancel
</button>

  </div>
</form>
